<!Doctype html>
<html ng-app="todoList">
<head lang="en">
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css" />
	<title>todolist</title>
</head>

<body style="padding:10px" ng-controller="taskCtrl">
	<!--
	<input type="text" ng-model="data.msg"/>
	<div ng-show="1==1" class="{{data.msg}}">
		我是一个{{data.msg}} 
	</div>
	-->

	<!--todolist实例-->
	<div class="input-group">
		<input type="text" ng-model="task" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default" ng-click="add()">提交</button>
		</span>
	</div>
	<h4 ng-if="tasks.length>0">任务列表</h4>
	<!--ng-hide="tasks.length==0"不建议使用ng-hide，使用ng-if即可，判断当数组的长度大于0的时候进行显示即可，使用效果是一样的。为了页面的性能效果建议使用ng-if-->
	
	<ul class="list-group">
		<li ng-repeat="item in tasks track by $index" class="list-group-item">{{item}}
			<a ng-click="tasks.splice($index,1)">
				删除
			</a>
		</li>
	</ul>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript">
	angular.module('todoList',[])
	.controller('taskCtrl',function($scope){
		$scope.task = "";
		$scope.tasks=[];
		$scope.add = function(){
			$scope.tasks.push($scope.task);
		}
	})
</script>
</html>